{
  admin off
}

kasku.akirachandra.my.id {
  handle /health {
    reverse_proxy api:3000
  }

  handle /api/* {
    reverse_proxy api:3000
  }

  handle {
    root * /usr/share/caddy
    try_files {path} /index.html
    file_server
  }
}

n8n.akirachandra.my.id {
  reverse_proxy 172.17.0.1:5678
}

deploy.akirachandra.my.id {
  reverse_proxy 172.19.0.1:9001
}

:80 {
  handle /health {
    reverse_proxy api:3000
  }

  handle /api/* {
    reverse_proxy api:3000
  }

  handle {
    root * /usr/share/caddy
    try_files {path} /index.html
    file_server
  }
}
